<body>
<div class='container'>
<p><%= notice %></p>
<h2>ホーム</h2>
<%= link_to 'Tweetする', new_tweet_path, class:"btn btn-primary rounded-pill" %>
<div class="card" style="width:75%;"
    <ul class="list-group list-group-flush">
    <% @tweet.each do |tweet| %>
      <li  class="list-group-item" href=<%=tweet_path(tweet.id)%>><%= tweet.content %>
      <div class="text-right">
        <%= link_to "編集", edit_tweet_path(tweet.id) , class:"btn btn-primary btn-sm"%>
        <%= link_to "削除", tweet_path(tweet.id),  method: :delete,data: { confirm: 'tweetを削除します' }, class:"btn btn-secondary btn-sm"%>
      </div>
      </li>
    <% end %>
    </ul>
</div>
</div>

</body>
